<div class="container-fluid upload-control">
    <script type="text/javascript">var iden = 11;</script>
    <h2>Upload a video</h2>
    <div class="col-md-5">
        <input type="file" id="txtFile" name="txtFile" multiple class="hidden" />
        <button class="add-files btn btn-primary">Add files</button>
        <ul class="file-list">
            <li class="file-indicator" data-name="name">
                <div class="name-container">name</div>
                <div class="item-upload block-inline-container">
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
                            0%
                        </div>
                    </div>
                </div>
                <div class="block-inline-container"><a data-name="name" class="delete-button" href="#" title="delete"><i class="fa fa-times-circle"></i></a></div>
                <div class="block-inline-container"><a data-name="name" class="stop-button hidden" href="#" title="stop"><i class="fa fa-times-circle"></i></a></div>
                <div class="block-inline-container"><a data-name="name" class="pause-button hidden" href="#" title="pause"><i class="fa fa-pause-circle"></i></a></div>
                <div class="block-inline-container"><a data-name="name" class="play-button hidden" href="#" title="resume"><i class="fa fa-play-circle"></i></a></div>
                <div class="block-inline-container"><a data-name="name" class="retry-button hidden" href="#" title="retry"><i class="fa fa-refresh"></i></a></div>
            </li>
        </ul>
        <button class="btn btn-default" id="btnUpload">upload</button>
    </div>
    
</div>